@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    box-sizing: border-box;
}
body{
    background-image: url("birthday.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-size: 80%;
    background-color: black;  
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    overflow: hidden;
    color: white;
}
header{
    font-weight: normal;
    font-size: 40px;
    margin: 0;
}
.licznik {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
}
.czasow {
   display: flex;
}
.czas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px 20px 10px 20px;
}
.czas h2 {
    font-weight: bold;
    font-size: 36px;
    line-height: 1;
    margin: 0 0 5px;
}

@media(max-width:400px){
    h1 {
    font-size: 45px;
   }
   .czas {
    margin: 5px;
   }
   .czas h2{
    font-size: 18px;
   }
   .czas small {
    font-size: 16px;
   }
   .czasow{
    padding-bottom: 50px;
   }
   header {
    margin-top: 10vh;
   }
}
@media(min-width:401px){
    h1 {
    font-size: 45px;
   }
   .czas {
    margin: 5px;
   }
   .czas h2{
    font-size: 16px;
   }
   .czas small {
    font-size: 14px;
   }
   .czasow{
    padding: 60px;
    margin-bottom: 50px;
   }
   header {
    margin-top: 10vh;
   }
}
@media(min-width:726px)  {
   h1{
    font-size: 60px;
   }
   .czas {
    margin: 5px;
   }
   .czas h2{
    font-size: 22px;
   }
   .czas small {
    font-size: 20px;
   }
   .czasow{
    padding: 5vh;
   }
   header {
    margin-top: 5vh;
   }
}
@media(min-width:1024px)  {
    h1{
        font-size: 60px;
       }
       .czas {
        margin: 5px;
       }
       .czas h2{
        font-size: 24px;
       }
       .czas small {
        font-size: 22px;
       }
       .czasow{
        padding: 3vh;
       }
       header {
        margin-top: 2vh;
       }
}
@media(min-width:1920px)  {
    h1{
        font-size: 65px;
       }
       .czas {
        margin: 5px;
       }
       .czas h2{
        font-size: 24px;
       }
       .czas small {
        font-size: 22px;
       }
       .czasow{
        padding: 3vh;
       }
       header {
        margin-top: 1vh;
       }
}
